echo "# Blueberry-Main-Scripts" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Blueberry-Corporation/Blueberry-Main-Scripts.git
git push -u origin main
